.home {
    section.hero {
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(83,166,246,1) 0%, rgba(149,18,215,1) 80%);
        padding-top: 240px;
        padding-bottom: 100px;

        @include md {
            padding-bottom: 300px;
        }

        .container.flex {
            @include md {
                display: block;
            }

            > div {
                @include md {
                    width: 100%;
                }
            }
        }

        .hero-text {
            padding-bottom: 100px;

            .inner-wrapper {
                max-width: 800px;
                margin-left: auto;

                h1 {
                    margin-bottom: 20px;
                }
                .description {
                    margin-bottom: 70px;
                }
                #get_money_now {
                    font-size: 30px;
                    max-width: 365px;
                    width: 100%;
                    padding: 27px;

                    @include lg {
                        font-size: 25px;
                        padding: 15px;
                    }
                }
            }
        }
        .application-form {
            @include lg {
                padding-left: 20px;
            }
            @include md {
                padding-left: 0;
            }
        }
        .blob.mobile {
            @include md {
                display: block;
            }
        }
        .blob.desktop {
            @include md {
                display: none;
            }
        }
        form {
            input:not([type=submit]), textarea {
                color: $grey;
                box-shadow: 0px 52px 54px 0px rgba(101,14,140,0.28);
            }
        }
        .glitters1 {
            right: 0;
            top: 43px;
        }

        #scroll-down {
            position: absolute;
            display: block;
            max-width: 90px;
            width: 5vw;
            left: 22vw;
            bottom: 5vw;
            z-index: 20;

            @include md {
                width: 7vw;
                left: 47vw;
                bottom: 13vw;
            }

            &:before {
                content: 'Scroll down';
                color: #fff;
                font-size: 25px;
                position: absolute;
                width: 200px;
                text-align: center;
                left: -45px;
                right: 0;
                top: -65px;
                letter-spacing: 6px;

                @include md {
                    left: -66px;
                }
            }
        }
        .glitters2 {
            bottom: -17px;
            left: 50%;
        }

    }

    section.about-us {
        padding-top: 100px;

        .grey-blob-aboutus {
            top: 20vw;
            z-index: 1;

            @include lg {
                display: none;
            }
        }

        .glitter {
            left: 0;
        }

        .introductory {
            margin-bottom: 40px;
            position: relative;
            z-index: 2;

            .description {
                font-family: 'GilroySemiBold';
                font-size: 48px;
                max-width: 1080px;
                margin: 0 auto;
                line-height: 59px;
                margin-top: 35px;
            }
        }
        .col-content {
            max-width: 1690px;
            margin: auto;

            @include lg {
                align-items: flex-start;
            }

            @include md {
                flex-direction: column;
            }

            .col {
                @include md {
                    width: 100% !important;
                }
            }

            .img-col {
                width: 52.8%;
                z-index: 0;

                @include md {
                    order: 1;
                    margin-bottom: 30px;
                }

                img {
                    @include xl {
                        position: relative;
                        top: -100px;
                    }

                    @include lg {
                        top: 0;
                    }
                }
            }
            .text-col {
                z-index: 2;
                width: 47.2%;
                padding-right: 70px;

                @include md {
                    order: 2;
                }

                @include xl {
                    padding-right: 0;
                }
            }
            
            p {
                font-size: 24px;
                margin-bottom: 30px;
            }
        }
    }

    section.services {
        z-index: 3;
        padding-top: 300px;
        padding-bottom: 50px;

        @include lg {
            padding-top: 120px;
        }

        .glitters4-services {
            top: 15%;
            left: 23%;
            z-index: 1;
        }

        > .container {
            position: relative;
            z-index: 2;
        }

        .col-content {
            margin-top: 100px;

            @include lg {
                flex-wrap: wrap;
            }

            .col {
                padding: 0 36px;

                @include lg {
                    width: 50%;
                    margin-bottom: 40px;
                }

                @include md {
                    width: 100%;
                    padding: 0;
                }
            }
            img {
                margin: 0 auto 30px;
            }
            .title {
                font-family: 'GilroySemiBold';
                font-size: 34px;
                text-align: center;
                margin-bottom: 30px;
            }
            .desc p {
                font-size: 16px;
            }
        }
    }

    section.testimonials {
        padding-top: 200px;

        .glitters5-testi {
            left: 4%;
            top: 62px;
            z-index: 1;
        }

        .nav-btn {
            max-width: 52px;
            position: absolute;
            top: 53%;
            z-index: 999;

            &.button-prev {
                left: 80px;

                @include xl {
                    left: 30px;
                }
                @include sm {
                    left: 15px;
                }
            }
            &.button-next {
                right: 80px;

                @include xl {
                    right: 30px;
                }
                @include sm {
                    right: 15px;
                }
            }
        }

        .swiper {
            padding: 10px;

            @include xl {
                padding: 10px 50px;
            }

            @include sm {
                padding: 10px 20px;
            }
        }
        .testimonials-wrapper {
            max-width: 1500px;
            margin: 0 auto;
        }

        .introductory {
            margin-bottom: 80px;
        }
        .testimonial-item {
            float: left;
            width: 50%;
            max-width: 630px;

            .text {
                font-size: 18px;
                line-height: 31px;
                box-shadow: 0px 2px 22px 0px rgba(101,14,140,0.24);
                padding: 70px 40px;
                border-radius: 50px;
                margin-bottom: 55px;

                @include sm {
                    padding: 30px;
                }
            }
            .author {
                img {
                    border-radius: 50%;
                    margin: 0 auto 16px;
                }
                .name {
                    font-family: 'GilroyBold';
                    font-size: 25px;
                }
                .title {
                    font-family: 'GilroyUltraLight';
                    font-size: 18px;
                }
            }
        }
    }

    section.we-the-best {
        padding-top: 200px;

        .grey-blob-best {
            right: 0;
            z-index: 0;
            top: -13%;

            @include lg {
                display: none;
            }
        }
        .glitter {
            left: 0;
            right: 0;
            margin: auto;
            top: -10px;
            z-index: 1;
        }

        .container {
            position: relative;
            z-index: 2;
        }

        .introductory {
            margin-bottom: 100px;
        }

        .col-content {
            @include lg {
                flex-direction: column;

                .col {
                    width: 100%;
                    padding: 0 !important;
                }

                .application-form {
                    margin: auto;
                    margin-bottom: 50px;
                }

                input[type=submit] {
                    padding: 20px;
                    font-size: 1.5em;
                }
            }
        }

        .col.form-col {
            padding-right: 120px;
        }
        .application-form {
            max-width: 720px;
            width: 100%;
            margin-left: auto;

            .shadow {
                z-index: 1;
            }
            form {
                position: relative;
                z-index: 2;
            }

            > .inner-wrapper {
                max-width: 100%;
            }
            .form-title {
                max-width: 570px;
            }
            input:not([type=submit]), textarea {
                box-shadow: 0px 24px 23px 0px rgba(145,23,209,0.08);
                font-size: 25px;
                padding: 25px 30px;
                color: $grey;
            }
            input[type=submit] {
                font-size: 1.875em;
                max-width: 365px;
                width: 100%;
                padding: 27px;
            }
        }
        .icon-with-text {
            max-width: 530px;
            margin: 0 auto;

            .row {
                margin-bottom: 50px;
            }
            .icon {
                margin-bottom: 25px;
            }
            .title {
                margin-bottom: 20px;
            }
            .text {
                p {
                    font-size: 16px;
                    line-height: 27px;
                }
            }
        }
    }

    section.blog {
        padding-top: 170px;

        @include lg {
            padding-top: 120px;
        }

        .container {
            max-width: 1510px;
        }

        .glitters7-blog {
            margin: 0 auto;
            top: 15px;
            left: -70px;
            right: 0;
        }
        
        .introductory {
            margin-bottom: 115px;

            @include lg {
                margin-bottom: 40px;
            }
        }
        .blog-list {
            padding: 50px;

            @include xl {
                // max-width: 1000px;
            }
            @include rwd(1024) {
                max-width: 500px;
            }

            .blog-item {
                width: 33.33%;
                border-radius: 100px;
                overflow: hidden;
                box-shadow: 0px 0px 50px 0px rgba(135,31,142,0.35);

                @include sm {
                    border-radius: 50px;
                }

                a {
                    display: block;
                    width: 100%;
                    padding-bottom: 100%;
                }
            }
        }

        .nav-btn {
            position: absolute;
            top: 67%;
            z-index: 99;

            @include md {
                top: 62%;
            }

            @include sm {
                max-width: 50px;
                top: 66%;

                &.button-prev {
                    left: 12px !important;
                }
                &.button-next {
                    right: 12px !important;
                }

            }

            &.button-prev {
                left: 110px;

                @include xl {
                    left: 20px;
                }
            }
            &.button-next {
                right: 110px;

                @include xl {
                    right: 20px;
                }
            }
        }
    }

    section.footer-cta {
        padding-top: 50px;
        position: relative;

        @include md {
            background: rgb(83,166,246);
            background: linear-gradient(180deg, rgba(83,166,246,1) 0%, rgba(107,113,235,1) 100%);
            padding-top: 250px;

            &:before {
                content: '';
                display: block;
                background-image: url(../img/curved-white.png);
                width: 100%;
                height: 300px;
                background-position: bottom;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }

            .blob-svg {
                display: none;
            }

            .text-col {
                width: 100%;
            }
        }

        
        .glitter {
            right: 13%;
            z-index: 1;
        }

        .col-content {
            position: relative;
            z-index: 2;

            @include md {
                flex-direction: column;

                .img-col {
                    order: 2;
                }
            }
        }

        .btn-white {
            font-size: 37px;
            font-family: 'GilroyBold';
            color: #55a1f5;
            background-color: #fff;
            padding: 30px;
            max-width: 435px;
            width: 100%;
            border-radius: 8px;
            text-align: center;
            margin-top: 40px;
            display: inline-block;
            @include smooth;

            &:hover {
                background-color: #55a1f5;
                color: #fff;
            }

            @include lg {
                font-size: 25px;
                padding: 20px;
                max-width: 300px;
                margin-top: 20px;
            }
        }

        .site-branding {
            bottom: -240px;
            left: 50px;

            @include lg {
                bottom: -80px;

                a {
                    font-size: 30px !important;
                }
            }

            @include md {
                position: relative;
                bottom: 0;
                left: 0;
                margin: 20px 0;
            }
            
            a {
                font-size: 52px;
            }
        }
    }
}